*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

*.swp
*.so
build/*
.DS_Store
._.DS_Store
single.py
singletest.py
wiki
orientdb-community-1.6.4
.builddev
.idea
